:global(.ui.basic.label).toolbarBtn {
  border: none
}

.update_btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  display: flex;
  justify-content: space-between;
}

i:hover {
  cursor: pointer;
}

.update:hover, .closeUpdateForm:hover {
  color: #2185d0;
}

.remove:hover {
  color: darkred;
}
